@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to your global styles.css */
@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
  }
  .shake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }